@import '~bootstrap/scss/bootstrap';

// colors
// blurple o : R: 127 G: 137 B: 195
// pink : R: 192 G: 132 B: 164
// purple: R: 102 G: 97 B: 126
// Green : R: 102 G: 131 B: 152
.hero-image {
  background-image: url('../public/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 30vw;
  margin-bottom: 2vw;
  position: relative;
}

.toggle {
  display: flex;
  align-self: flex-end;
  position: fixed;
}

#game-history {
  margin-right: 10px;
}

#api-login {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 50vw;
  z-index: 1;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 20px;
  margin-left: 60vw;
}

.show-hide {
  display: none;
}

.hero-text {
  display: flex;
  color: #fff;
  margin: auto;
  position: static;
  text-align: center;
}

#title {
  font-size: 80px;
}

// .fight {
//   margin: auto;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   height: 15vw;
//   width: 100%;
// }
//
// .animation {
//   height: 10vw;
// }
//
// .x-fight {
//   display: flex;
// }
//
// .o-fight {
//   display: flex;
// }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 9vw auto;
  // margin-bottom: 5vw;
  height: 80vw;
  width: 80vw;
  max-width: 600px;
  max-height: 600px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #84828f;
  padding: 15px;
}

// @media only screen and (max-width: 600px) {
//   .grid-container {
//     margin: auto;
//     width: 80vw;
//     height: 80vw;
//   }
// }

.grid-item {
  font-size: 30px;
  background-color:	rgba(152, 150, 164, .9);
}
.grid-item:hover {
  background-color: white;
}

#item-a {
  border-right: 3px solid #84828F;
  border-bottom: 3px solid #84828F;
  border-top-left-radius: 10px;
}

#item-b {
  border-bottom: 3px solid #84828F;
  border-right: 3px solid #84828F;
}

#item-c {
  border-bottom: 3px solid #84828F;
  border-top-right-radius: 10px;
}

#item-d {
  border-right: 3px solid #84828F;
  border-bottom: 3px solid #84828F;
}

#item-e {
  border-bottom: 3px solid #84828F;
  border-right: 3px solid #84828F;
}

#item-f {
  border-bottom: 3px solid #84828F;
}

#item-g {
  border-right: 3px solid #84828F;
  border-bottom-left-radius: 10px;
}

#item-h {
  border-right: 3px solid #84828F;
}

#item-i {
  border-bottom-right-radius: 10px;
}
